<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Dynamitey" publicKeyToken="cbf53ea3aeb972c6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.136" newVersion="2.0.9.136" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetDBF" publicKeyToken="9c071727b589770e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>